#include "notepad.h"

#pragma code_page(65001)

ID_MENUBAR  MENU PRELOAD DISCARDABLE
BEGIN
    POPUP   "ファイル(&F)"
        BEGIN
            MENUITEM    "新規(&N)\tCtrl+N",							M_NEW
			MENUITEM	"新しいウィンドウ(&W)\tCtrl+Shift+N",			M_NEWWIN
            MENUITEM    "開く(&O)...\tCtrl+O",						M_OPEN
            MENUITEM    "上書き保存(&S)\tCtrl+S",						M_SAVE
            MENUITEM    "名前を付けて保存(&A)...\tCtrl+Shift+S",			M_SAVEAS
            MENUITEM    SEPARATOR
            MENUITEM    "ページ設定(&U)...",						M_PAGESETUP
            MENUITEM    "印刷(&P)...\tCtrl+P",					M_PRINT
            MENUITEM    SEPARATOR
            MENUITEM    "メモ帳の終了(&X)",								M_EXIT
        END

    POPUP   "編集(&E)"
        BEGIN
            MENUITEM    "元に戻す(&U)\tCtrl+Z",        M_UNDO
            MENUITEM    SEPARATOR
            MENUITEM    "切り取り(&T)\tCtrl+X",         M_CUT ,  GRAYED
            MENUITEM    "コピー(&C)\tCtrl+C",        M_COPY,  GRAYED
            MENUITEM    "貼り付け(&P)\tCtrl+V",       M_PASTE, GRAYED
            MENUITEM    "削除(&L)\tDel",         M_CLEAR, GRAYED
            MENUITEM    SEPARATOR
            MENUITEM    "検索(&F)...\tCtrl+F",     M_FIND
            MENUITEM    "次を検索(&N)\tF3",       M_FINDNEXT
			MENUITEM	"前を検索(&V)\tShift+F3", M_FINDPREVIOUS
            MENUITEM    "置換(&R)...\tCtrl+H",  M_REPLACE
/*
            The hotkey used for replace is CTRL-H in most of the editors, and hence though 
            this key may conflict with backspace key in IMEs, this key is used here to be compatible
            with all the editors. Please contact ChrisW/RajeshM for more details.
*/
            MENUITEM    "行へ移動(&G)...\tCtrl+G"    M_GOTO
            MENUITEM    SEPARATOR
            MENUITEM    "すべて選択(&A)\tCtrl+A",  M_SELECTALL
            MENUITEM    "日付と時刻(&D)\tF5",       M_DATETIME
        END

    POPUP   "書式(&O)"
        BEGIN
            MENUITEM    "右端で折り返す(&W)"      M_WW
            MENUITEM    "フォント(&F)...",       M_SETFONT

			POPUP		"タブ文字の幅(&T)"
				BEGIN
					MENUITEM	"&2"		M_TW2
					MENUITEM	"&4"		M_TW4
					MENUITEM	"&8"		M_TW8
				END
        END

    POPUP   "表示(&V)"
        BEGIN
            MENUITEM "ステータス バー(&S)",             M_STATUSBAR
        END

    POPUP "ヘルプ(&H)"
        BEGIN
            MENUITEM     "トピックの検索(&H)",  M_HELP
            MENUITEM     SEPARATOR
            MENUITEM     "バージョン情報(&A)",M_ABOUT
        END

END

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
    IDS_MERGE1       "%%"
    IDS_DISKERROR   "ファイル %% を開くことができません。\n\n指定したドライブにディスクがあるか確認してください。"
    IDS_FNF         "ファイル %% が見つかりません。\n\n新しく作成しますか?"
    IDS_SCBC        "ファイル %% の内容は変更されています。\n\n変更を保存しますか?"
    IDS_UNTITLED    "無題"
    IDS_NOTEPAD     " - メモ帳"
    IDS_CFS         """%%"" が見つかりません。"
    /* The following is a generic out of memory message which can also be
       system modal so no /n can appear in it. */
    IDS_ERRSPACE    "メモリ不足のためこの操作を実行できません。Windows アプリケーションをいくつか終了して空きメモリ領域を増やしてから、再実行してください。"
    IDS_FTL         "ファイル %% は大きすぎてメモ帳では編集できません。\n\n別のエディタを使って編集してください。"
    IDS_NN          "メモ帳"
    IDS_COMMDLGINIT "ファイルのダイアログを初期化できませんでした。ファイル名を変更してやり直してください。"
    IDS_PRINTDLGINIT "印刷のダイアログを初期化できませんでした。プリンタが正しく接続されていることを確認してから、コントロール パネルを使ってプリンタが正しく構成されていることを確認してください。"
    IDS_CANTPRINT   "ファイル %% を印刷できません。プリンタの接続を確認してください。また、コントロール パネルでプリンタの構成を確認してください。"
    IDS_NVF         "ファイル名が無効です。"
    IDS_CREATEERR   "ファイル %% を作成できません。\n\nパスおよびファイル名が正しいか確認してください。"
    IDS_NOWW        "ファイル中の文字が多すぎるため、[右端で折り返す] コマンドを実行できません。"
    IDS_HELPFILE    "notepad.hlp"
    IDS_HEADER      "&f"
    IDS_FOOTER      "ページ(&P)"

    IDS_ACCESSDENY  "%%\nこのファイルを開くためのアクセス許可がありません。このファイルの所有者または管理者に問い合わせてアクセス許可を取得してください。"


    IDS_ANSITEXT    "テキスト文書 (*.txt)" /* filter text for File/Open */
    IDS_ALLFILES    "すべてのファイル "   /* filter text for File/Open  */
    IDS_OPENCAPTION "開く"      /* title for file/open dialog */
    IDS_SAVECAPTION "名前を付けて保存"   /* title for file/save dialog */
    IDS_CANNOTQUIT  "メモ帳の [名前を付けて保存] ダイアログ ボックスが開かれているため、\nWindows を終了できません。メモ帳に切り替えてダイアログ ボックスを\n閉じてから、やり直してください。"
    IDS_LOADDRVFAIL "プリンタにアクセスできません。\nプリンタが正しく接続されているか確認してください。プリンタが適切に構成されているか確認するには、コントロール パネルを使用してください。"
    IDS_ERRUNICODE  "%%\n このファイルは、ANSI テキスト ファイルとして保存すると失われてしまう Unicode 形式の文字を含んでいます。Unicode の情報を保存するには、下の [キャンセル] をクリックし、[文字コード] から [Unicode] を選択してください。続行しますか?"
    IDS_FONTTOOBIG  "1 行の長さに対して、ページ サイズが小さすぎます。\nより小さいフォントを使って印刷してみてください。"
    IDS_COMMDLGERR  "コモン ダイアログ エラー (0x%04x)"

    IDS_LINEERROR    "メモ帳 - 行に移動"
    IDS_LINETOOLARGE "行番号が範囲外です"

    IDS_FT_ANSI      "ANSI"
    IDS_FT_UNICODE   "UTF-16 LE"
    IDS_FT_UNICODEBE "UTF-16 BE"
    IDS_FT_UTF8      "UTF-8"

    IDS_CURRENT_PAGE "ページ %d"  /* don't change %d; used for printf formatting */

    IDS_LINECOL          "   %d 行、%d 列  "
    IDS_COMPRESSED_FILE  " 圧縮、"
    IDS_ENCRYPTED_FILE   " 暗号化、"
    IDS_HIDDEN_FILE      " 非表示、"
    IDS_OFFLINE_FILE     " オフライン、"
    IDS_READONLY_FILE    " 読み取り専用、"
    IDS_SYSTEM_FILE      " システム、"
    IDS_FILE             " ファイル"

    /* Use by MUI, not notepad.  See hivecls.inx for reference */

    IDS_TEXT_FRIENDLY_NAME  "テキスト ドキュメント"

    /*  IDS_LETTERS     "fFpPtTdDcCrRlL"   Original US values.  This does get translated! */
    /*                  The order is: File, Page, Time, Date, Center, Right, Left         */

    IDS_LETTERS     "fFpPtTdDcCrRlL"

	IDS_LT_WINDOWS   "   Windows (CRLF)  "
	IDS_LT_UNIX		 "   Unix (LF)  "

    IDS_FT_AUTODETECT "自動検出"
END

#define WS_TABONLY  (WS_TABSTOP | WS_GROUP)
#define ID_NULL   -1

#define WIDTHPRINTDLG 200

IDD_ABORTPRINT DIALOG 20,20,WIDTHPRINTDLG, 64
    STYLE WS_POPUPWINDOW | DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
    CAPTION "メモ帳"
    FONT 9, "MS UI Gothic"
    BEGIN
       defpushbutton "キャンセル"   IDCANCEL, 84, 44, 32, 14, GRP
       ctext    "印刷中",  -1, 0, 8, WIDTHPRINTDLG, 8
       ctext    "",             ID_FILENAME, 0, 18, WIDTHPRINTDLG, 8,  SS_PATHELLIPSIS | SS_CENTER
       ctext    "",             ID_PAGENUMBER, 0, 28, WIDTHPRINTDLG, 8, SS_CENTER
    END

NpEncodingDialog DIALOG 30, 17, 300, 22
STYLE WS_CHILD | DS_3DLOOK | WS_CLIPSIBLINGS | DS_CONTEXTHELP | DS_CONTROL
FONT 9, "MS UI Gothic"
BEGIN
    CONTROL "文字コード(&E):", IDC_ENCODING, "static" SS_LEFT , 68,1, 56,40
    COMBOBOX IDC_FILETYPE, 130,0, 164,100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_GROUP | WS_TABSTOP
END

IDD_PAGESETUP DIALOG DISCARDABLE 0, 0, 356, 196
STYLE DS_MODALFRAME | 4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CONTEXTHELP
CAPTION "ページ設定"
FONT 9, "MS UI Gothic"
BEGIN
    GROUPBOX        "用紙",1073,8,8,224,56,WS_GROUP
    LTEXT           "サイズ(&Z):",1089,16,24,36,8
    COMBOBOX        1137,64,23,160,160,CBS_DROPDOWNLIST | CBS_SORT |
                    WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "給紙方法(&S):",1090,16,45,36,8
    COMBOBOX        1138,64,42,160,160,CBS_DROPDOWNLIST | CBS_SORT |
                    WS_VSCROLL | WS_GROUP | WS_TABSTOP
    GROUPBOX        "印刷の向き",1072,8,69,64,56,WS_GROUP
    CONTROL         "縦(&O)",1056,"Button",BS_AUTORADIOBUTTON | WS_GROUP | 
                    WS_TABSTOP,16,83,52,12
    CONTROL         "横(&A)",1057,"Button",BS_AUTORADIOBUTTON,16,102,52,
                    12
    GROUPBOX        "余白",1075,80,69,152,56,WS_GROUP
    LTEXT           "左(&L):",1102,88,85,32,8
    EDITTEXT        1155,120,83,28,12,WS_GROUP
    LTEXT           "右(&R):",1103,164,85,32,8
    EDITTEXT        1157,196,83,28,12,WS_GROUP
    LTEXT           "上(&T):",1104,88,104,32,8
    EDITTEXT        1156,120,102,28,12,WS_GROUP
    LTEXT           "下(&B):",1105,164,104,32,8
    EDITTEXT        1158,196,102,28,12,WS_GROUP
    LTEXT           "ヘッダー(&H):",ID_HEADER_LABEL,8,136,35,8
    EDITTEXT        ID_HEADER,56,134,174,12,ES_AUTOHSCROLL
    LTEXT           "フッター(&F):",ID_FOOTER_LABEL,8,155,35,8
    EDITTEXT        ID_FOOTER,56,153,174,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,180,174,50,14,WS_GROUP
    PUSHBUTTON      "キャンセル",IDCANCEL,234,174,50,14
    PUSHBUTTON      "プリンタの設定(&P)...",1026,288,174,60,14
    GROUPBOX        "印刷プレビュー",-1,240,8,108,158
    CONTROL         "",1080,"Static",SS_WHITERECT,254,46,80,80
    CONTROL         "",1081,"Static",SS_GRAYRECT,334,50,4,80
    CONTROL         "",1082,"Static",SS_GRAYRECT,262,122,80,4
END

IDD_GOTODIALOG DIALOG DISCARDABLE  0, 0, 138, 57
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CONTEXTHELP
CAPTION "行へ移動"
FONT 9, "MS UI Gothic"
BEGIN
    LTEXT           "行番号(&L):", 1200, 7, 9, 50, 10
    EDITTEXT        IDC_GOTO,55,7,57,12,ES_AUTOHSCROLL+ES_NUMBER
    DEFPUSHBUTTON   "OK",IDOK,7,34,50,14
    PUSHBUTTON      "キャンセル",IDCANCEL,78,34,50,14
END

IDD_FINDDIALOG DIALOG LOADONCALL MOVEABLE DISCARDABLE 30, 73, 275, 74
STYLE WS_BORDER | WS_CAPTION | DS_MODALFRAME | WS_POPUP | WS_SYSMENU |
      DS_3DLOOK
CAPTION "検索"
FONT 9, "MS UI Gothic"
BEGIN
    LTEXT           "検索する文字列(&N):", -1, 4, 9, 67, 8
    EDITTEXT        edt1, 75, 7, 138, 12, WS_GROUP | WS_TABSTOP | ES_AUTOHSCROLL

    AUTOCHECKBOX    "単語単位で探す(&W)", chx1, 4, 30, 97, 12, WS_GROUP
    AUTOCHECKBOX    "大文字と小文字を区別する(&C)", chx2, 4, 46, 116, 12
	AUTOCHECKBOX	"折り返しあり(&R)", chx4, 4, 62, 85, 12

    GROUPBOX        "検索する方向", grp1, 125, 31, 88, 28, WS_GROUP
    AUTORADIOBUTTON "上へ(&U)", rad1, 129, 42, 39, 12, WS_GROUP
    AUTORADIOBUTTON "下へ(&D)", rad2, 171, 42, 39, 12

    DEFPUSHBUTTON   "次を検索(&F)", IDOK, 220, 5, 50, 14, WS_GROUP
    PUSHBUTTON      "キャンセル", IDCANCEL, 220, 23, 50, 14
    PUSHBUTTON      "ヘルプ(&H)", pshHelp, 220, 45, 50, 14
END


IDD_REPLACEDIALOG DIALOG LOADONCALL MOVEABLE DISCARDABLE 29, 44, 274, 101
STYLE WS_BORDER | WS_CAPTION | DS_MODALFRAME | WS_POPUP | WS_SYSMENU |
      DS_3DLOOK
CAPTION "置換"
FONT 9, "MS UI Gothic"
BEGIN
    LTEXT           "検索する文字列(&N):", -1, 4, 9, 68, 8
    EDITTEXT        edt1, 78, 7, 118, 12, WS_GROUP | WS_TABSTOP | ES_AUTOHSCROLL

    LTEXT           "置換後の文字列(&P):", -1, 4, 28, 68, 8
    EDITTEXT        edt2, 78, 26, 118, 12, WS_GROUP | WS_TABSTOP | ES_AUTOHSCROLL

    AUTOCHECKBOX    "単語単位で探す(&W)", chx1, 8, 51, 104, 12, WS_GROUP
    AUTOCHECKBOX    "大文字と小文字を区別する(&C)", chx2, 8, 67, 124, 12
	AUTOCHECKBOX	"折り返しあり(&R)", chx4, 8, 83, 85, 12

    DEFPUSHBUTTON   "次を検索(&F)",, IDOK, 204, 4, 63, 14, WS_GROUP
    PUSHBUTTON      "置換して次に(&R)", psh1, 204, 22, 63, 14
    PUSHBUTTON      "すべて置換(&A)", psh2, 204, 40, 63, 14
    PUSHBUTTON      "キャンセル", IDCANCEL, 204, 58, 63, 14
    PUSHBUTTON      "ヘルプ(&H)", pshHelp, 204, 79, 63, 14
END

